a{
    color: black;
    font-size: 18px;
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
}
ul{

    list-style-type:disc;
}

li{
    list-style-type: none;

}
li.dir {
    list-style-type: circle;
}
li.file a{
    font-size: 16px;   
    font-family: Arial, Helvetica, sans-serif;
}

textarea{
    width: 80%;
    height: 200px;

}